{
  "name" : "test_ntpd",
  "files" : [
    "tests/ntpd/leapsec.c",
    "tests/ntpd/restrict.c",
    "tests/common/tests_main.c",
    "tests/common/caltime.c",
    "tests/common/sockaddrtest.c",
    "tests/unity/unity.c",
    "tests/unity/unity_fixture.c",
    ".tis/taas-stubs/my-stubs.c"  ],
  "main" : "main",
  "compilation_cmd" : "-DUNITY_EXCLUDE_FLOAT_PRINT -D_GNU_SOURCE -Ibuild/main/../../tests/unity -Ibuild/main/../../ntpd -Ibuild/main/../../tests/libntp -Ibuild/main/../../tests/common -Ibuild/main/.. -Ibuild/main/../../include -DPYTHONDIR=\"/usr/local/lib/python2.7/dist-packages\" -DPYTHONARCHDIR=\"/usr/local/lib/python2.7/dist-packages\" -DHAVE_PYEXT=1 -DHAVE_PYTHON_H=1 -DUNITY_INCLUDE_DOUBLE -DUNITY_SUPPORT_64 -DTEST_NTPD=1  -I.tis/taas-stubs",
  "machdep" : "gcc_x86_64"
}
